@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";

.job-event-list {
  display: flex;
  flex-direction: column;
  background: white;
  width: 90%;
  margin: 0 auto;
  margin-top: -40px;
  filter: drop-shadow(0px 4px 8px rgba(43, 43, 43, 0.11));
  border-radius: 4px;

  @include tablet {
    margin-top: -70px;
  }

  @include desktop {
    max-width: 1020px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 1.5rem;
    }

    h2 {
      @include page-header;
    }

    &-search {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      width: 100%;
      gap: 1rem;

      @include tablet {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 60%;
      }
    }

    &__search {
      background-image: url(../../assets/icons/search-24px.svg);
      background-repeat: no-repeat;
      background-position: calc(100% - 1rem) center;
      height: 2.25rem;
      padding: 0 1rem;
      border: 2px solid $cloud;
      border-radius: 20px;
      font-family: "Titillium Web", "Courier New", Courier, monospace;
      flex-grow: 1;

      &:focus {
        border-color: $studio-blue;
        outline: none;
      }

      @include tablet {
        height: 2.375rem;
      }
    }
  }

  &__labels {
    display: none;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 0.5rem 2rem;
      background-color: $light-grey;
      color: $slate;
    }

    span {
      flex: 1;
      text-align: left;
      font-weight: bold;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid $cloud;

    @include tablet {
      padding: 1rem 2rem;
    }

    &:hover {
      background-color: $light-grey;
    }
  }

  &__title {
    flex: 2;
    cursor: pointer;
    color: $studio-blue;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    .apply-button {
      @include button-primary;
      cursor: pointer;
    }

    .favorite-icon {
      cursor: pointer;
      font-size: 1.25rem;
    }
  }
}
