//Primary Colours
$studio-black: #13182c;
$studio-blue: #22a4e4;
$studio-pink: #e43fe7d7;
$white: #ffffff;

//Secondary Colours
$slate: #5c667e;
$cloud: #bdc5d5;

//Background Colours
$graphite: #232940;
$light-grey: #f7f8f9;

//Supporting Colours
$green: #29a781;
$red: #d42b58;

// Breaking Point Table Desktop
$tablet-screen: 768px;
$desktop-screen: 1280px;
