//Primary Colours
$studio-black: #13182c;
$studio-purple: #5e17eb;
$studio-blue: #22a4e4;
$white: #ffffff;

//Secondary Colours
$slate: #5c667e;
$cloud: #bdc5d5;
$purple: #cb6ce6;
$blue: #2e66e5;

//Background Colours
$graphite: #232940;
$light-grey: #f7f8f9;

//Supporting Colours
$green: #158463;
$red: #c94515;

// Breaking Point Table Desktop
$tablet-screen: 768px;
$desktop-screen: 1280px;
