@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

$studio-black: #13182c;
$studio-blue: #22a4e4;
$white: #ffffff;

$slate: #5c667e;
$cloud: #bdc5d5;

$graphite: #232940;
$light-grey: #f7f8f9;

.dashboard-card {
  background: $white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.dashboard-card__about {
  text-align: center;
  padding-bottom: 20px;
}

.dashboard-card__logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.dashboard-card__name {
  color: $studio-black;
  font-size: 22px;
  margin-bottom: 5px;
}

.dashboard-card__description {
  color: $slate;
  font-size: 16px;
}

.dashboard-card__details {
  background: $light-grey;
  padding: 15px;
  border-radius: 8px;
  margin: 20px 0;
}

.dashboard-card__details h3 {
  color: $studio-blue;
  margin-bottom: 10px;
}

.dashboard-card__details p {
  color: $studio-black;
  font-size: 14px;
  margin: 5px 0;
}

.dashboard-card__details a {
  color: $studio-blue;
  text-decoration: none;
}

.dashboard-card__opportunities {
  padding: 15px 0;
}

.dashboard-card__opportunities h3 {
  color: $studio-blue;
  margin-bottom: 10px;
}

.dashboard-card__opportunities ul {
  list-style: none;
  padding: 0;
}

.dashboard-card__opportunities li {
  margin: 5px 0;
}

.dashboard-card__opportunities a {
  color: $studio-black;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.dashboard-card__opportunities a:hover {
  color: $studio-blue;
}

.dashboard-card__create-button {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 18px;
  background: $studio-blue;
  color: $white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dashboard-card__create-button:hover {
  background: darken($studio-blue, 10%);
}
