@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.main {
  padding-bottom: 20px;
}

//
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }

    .active {
      opacity: 1;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); // Dark overlay for better text visibility
  }

  &__content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
  }

  &__title {
    font-size: 3rem;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  &__cta-button {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 1.2rem;
    background: $studio-blue;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: $studio-blue;
    }
  }
}

/* Features Section */
.features {
  height: 60vh;
  padding: 4rem 4rem;
  text-align: center;
}

.features__title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.features__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.features__card {
  height: 50vh;
  width: 30%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.features__card-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.features__card-title {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.features__card-text {
  padding: 15px;
  top: 10rem;
}

.features__card-description {
  font-size: 1rem;
  color: #555;
}

/* Partner Showcase Section */
.partner-showcase {
  height: 80vh;
  padding: 4rem 4rem;
  text-align: center;
}

.partner-showcase__title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.partner-showcase__logos {
  display: flex;
  overflow-x: auto;
  gap: 40px;
  padding: 20px 0;
}

.partner-showcase__logo {
  width: 150px;
  height: auto;
  flex-shrink: 0;
}
