@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

/* Features Section */
.features {
  height: 90vh;
  padding: 4rem 4rem;
  text-align: center;
  background-color: $light-grey;
}

.features__title {
  font-size: 2rem;
  margin-bottom: 2.7rem;
}

.features__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.features__card {
  height: 60vh;
  width: 30%;
  border-radius: 8px;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.features__card-image {
  height: 80%; /* Occupies top 80% of the card */
  width: 100%; /* Ensures the image takes the full width */
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.features__card-title {
  font-size: 1.5rem;
  background-color: $studio-blue;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  border-radius: 5px;
}

.features__card-text {
  height: 20%; /* Ensures this section takes the remaining 20% */
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f9f9f9; /* Optional: Adds a background to differentiate from the image */
}

.features__card-description {
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .features {
    padding: 2rem;
  }

  .features__list {
    flex-direction: column;
    align-items: center;
  }

  .features__card {
    width: 80%; // Make it take full width on smaller screens
  }
}
